name: Release

on:
  release:
    types: [created]

jobs:
  upload-release-assets:
    name: Upload release assets
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist
          pattern: 'wheels-*'
          merge-multiple: true

      - name: Download source distribution
        uses: actions/download-artifact@v4
        with:
          path: dist
          pattern: 'sdist'
          merge-multiple: true

      - name: Upload release assets
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/**/*.whl
            dist/**/*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
